@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.cool{
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 1.9rem;
    animation: spin linear infinite 3s;
}

.inputfield{
    text-align: center;
}