@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&display=swap');


.app-component{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 60%;
  margin-top: 3rem;
}